/* Override the default css settings from AnyChart */
.anychart-tooltip {
  border-radius: 0;
  padding: 0;
  background: #ffffff;
  border: 2px solid;
  display: inline-block;
  box-sizing: unset;
  letter-spacing: normal;
  color: #ff8000;
  font-family: Verdana, Helvetica, Arial, 'sans-serif';
  font-size: 12px;
  position: absolute;
  pointer-events: none;
  white-space: nowrap;
  margin: 0;
}

.anychart-tooltip-separator {
  display: none;
  height: 0;
}

.anychart-tooltip-title{
  display:none;
  height: 0;
}

/* Customise the tooltip */

#tooltip-title {
  font-size: 18px;
  padding: 5px;
}

#tooltip-image {
  float: left;
  margin-top: 5px;
  width: 50px;
  height: 28px;
}

.tooltip-content {
  float: right;
  border-left: 2px solid #ff8000;
}

/* Hide the map credits. */

.anychart-credits {
  display: none;
}
