{#
/**
 * @file
 * Theme implementation to display a Any Chart map.
 *
 * This creates a placeholder for the map to be injected in.
 *
 * Available variables:
 * - mapid
 *
 * @ingroup themeable
 *
 */
#}

{# Place holder for the map. #}
<div id="{{ mapid }}" class="aia-map" style="min-width: 200px; width: {{ width }}; min-height: 200px; height: {{ height }}"></div>

{# Custom code for the map's tooltip. #}
<div class="aia-map-hidden-container" hidden>
    <img id="tooltip-image">
    <div class="tooltip-content">
        <div id="tooltip-title"></div>
    </div>
</div>