html,
body,
#container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#container body {
    font-family: Verdana, \'Helvetica Neue\', Arial, Helvetica, Geneva, sans-serif;
 color: #212121;
}

#container h1,
h2 {
    font-size: 18px;
    color: #212121;
    font-weight: normal;
    text-align: center;
    line-height: 18px;
}

#container h1 {
    padding-top: 15px;
    padding-bottom: 10px;
    margin: 0;
    border-bottom: 4px solid #eaeaea;
}

#container h2 {
    font-size: 16px;
    line-height: 18px;
    text-align: left;
}

#container .text {
    color: #545f69;
    font-size: 12px;
    margin: 10px 0 0 0;
}

.line {
    position: absolute;
    top: 90px;
    bottom: 0;
    left: 20px;
    right: 20px;
}

#map-container {
    height: 100%;
}

.anychart-tooltip {
    font-size: 14px;
    max-width: 300px;
    padding: 0;
    background: white;
    color: #333;
    border-radius: 0;
    box-shadow: 0 0 3px inset #333;
}

#sight-image {
    width: 100%;
}

.anychart-tooltip .tooltip-content {
    padding: 0 15px 5px;
    font-size: .8em;
}